*{
    padding: 0%;
    margin: 0%;
}
.Login{

    width: 450px;
    height: 500px;
    margin-left: 100%;
    margin-top: 5%;
    padding: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(230, 231, 220, 0.952);
    border: 2px solid brown;
    border-radius: 2em;
    
   

}
.loginpage{
    background: url(../images/bg-registration-form-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.Login h1{
    text-align: center;
    color: rgb(138, 8, 8);
}
.Login input{
    text-align:center ;
    font-size: large;
    color: black;
    width: 400px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50em;
    text-shadow: 2em;

}
.newSignup{
    text-decoration: none;
    color: blue;
}
.ErrorWarning{
    color: red;
}